*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
[checked]{
    height: 50px;
    width: 50px;
}
[meu-atributo |="qualquercoisa"]{
    background-color: orangered;
}
[meu-atributo ^="comecou"]{
    background-color: blue;
    color: white;
}
[meu-atributo $="termina"]{
    background-color: greenyellow;
    color: white;
}
[meu-atributo *="contem"]{
    background-color: yellow;
    color: white;
}